  <footer>
    <div class="container">
		<ul>
            <li>
                © <a href="{{ "/" | relative_url }}">OPENLEGALDATA.IO</a>
            </li>
              <li><a href="{{ "/about" | relative_url }}">About</a></li>

            <li><a href="{{ "/imprint" | relative_url }}">Imprint</a></li>

            <li><a href="{{ "/privacy" | relative_url }}">Privacy</a></li>

            <li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
            <li><a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>
        </ul>
		<div class="funded-by">
            <a href="https://www.bmbf.de/" target="_blank">
                <img src="/assets/funded_by/logo-bmbf.svg" alt="Bundesministerium für Bildung und Forschung (BMBF)">
            </a>
            <a href="https://okfn.de/" target="_blank">
                <img src="/assets/funded_by/logo-okfn.svg" alt="Open Knowledge Foundation Germany">
            </a>
        </div>
    </div>
</footer>

