<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>

    <header class="header fixed">
        <div class="container">
            <nav class="navbar navbar-expand-lg justify-content-center">
                <a class="navbar-brand" href="/">
                    <i class="fa {{ site.icon }}" aria-hidden="true"></i> {{ site.title }}</a>
            </nav>
        </div>
    </header>

    <div class="wrap">
        <div class="content">
        {{ content }}
        </div>

    </div>


    {% include footer.html %}

    {% include script.html %}

</body>
</html>
