---
layout: default
---
<div class="container">
    <section class="text-justify">
        {{ content }}
    </section>
</div>

<div class="container">
    <div class="section">		
		<!--   Icon Section   -->
        <div class="row row-eq-height">
            <div class="col s12 m3">
				<a href="/about">
                <section class="icon-block">
                    <h2 class="text-center"><i class="fa fa-info"></i></h2>
                    <h5 class="text-center">About Open Legal Data</h5>
                    <p class="text-justify"></p>
                </section>
				</a>
            </div>

           <div class="col s12 m3">
				<a href="/transparency">
                <section class="icon-block">
                    <h2 class="text-center"><i class="fa fa-eye"></i></h2>
                    <h5 class="text-center">Increase Transparency</h5>
                    <p class="text-justify"></p>
                </section>
				</a>
            </div>

            <div class="col s12 m3">
				<a href="/contributions">
                <section class="icon-block">
                    <h2 class="text-center"><i class="fa fa-users"></i></h2>
                    <h5 class="text-center">Contributions Welcome!</h5>
                    <p class="text-justify"></p>
                </section>
				</a>
            </div>

            <div class="col s12 m3">
				<a href="/open-data">
                <section class="icon-block">
                    <h2 class="text-center"><i class="fa fa-lock"></i></h2>
                    <h5 class="text-center">Open Data</h5>
                    <p class="text-justify"></p>
                </section>
				</a>
            </div>
        </div>
	</div>
</div>

<div class="container">	
    <section class="view img-rounded" style="background-image: url('/assets/img/background.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; min-height:100px;">
        <p> 
		<div class="row align-items-center justify-content-md-center justify-content-xs-center justify-content-sm-center">
			<div class="col align-self-center input-group" style="max-width: 420px; margin-top:25px;">
				<select class="form-control" id="sel1">
					<option>Germany / Deutschland</option>
				</select>
				<div class="input-group-append">
					<a href="//de.openlegaldata.io/" class="btn btn-md btn-primary" type="button" id="button-addon2">Enter Platform</a>
				</div>
			</div>   
		</div>		
        </p>
    </section>
</div>


