---
layout: default
---
<div class="container">
    <section class="text-justify">
        {{ content }}
    </section>
</div>

<div class="container">
    <div class="row row-eq-height">
        <div class="col-md-6">

            <section>
                <h4>Malte</h4>
                <!--<section class="view img-rounded" style="background-image: url('/assets/img/malte-schwarzer-cropped.png'); background-repeat: no-repeat; background-size: cover; background-position: center center; max-height:110px; max-width: 100px; margin-top: 8px; width: 100px; height: 110px; float: left; margin: 0 20px;"></section>	-->


                <div style="margin: 0 20px">
                <p>Doctoral researcher in Computer Science at the University of Konstanz</p>
                <p>
                <i class="fa fa-envelope"><a href="mailto:mo@openlegaldata.io"> mo@openlegaldata.io</a></i>
                </p>
                <p>
                <i class="fa fa-linkedin"><a href="https://www.linkedin.com/in/malteschwarzer/"> https://www.linkedin.com/in/malteschwarzer/</a></i>
                </p>
                </div>
                <br style="clear: both">
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <h4>Saskia</h4>
                <!--<section class="view img-rounded" style="background-image: url('/assets/img/saskia-ostendorff-cropped.png'); background-repeat: no-repeat; background-size: cover; background-position: center center; max-height:110px; max-width: 100px; margin-top: 8px; width: 100px; height: 110px; float: left; margin: 0 20px;"></section>-->

                <div style="margin: 0 20px">
                    <p><a href="https://ostendorff.legal/">Lawyer</a>, Doctoral researcher in Law at the Humboldt University Berlin</p>
                <p>
                <i class="fa fa-envelope"><a href="mailto:so@openlegaldata.io"> so@openlegaldata.io</a></i>
                </p>
                <p>
                <i class="fa fa-linkedin"><a href=" https://www.linkedin.com/in/saskia-ostendorff-08453a155"> https://www.linkedin.com/in/saskia-ostendorff</a></i>
                </p>
                </div>
                <br style="clear: both">
            </section>
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-6">
            <section>
                <h4>Till</h4>
                <!--<section class="view img-rounded" style="background-image: url('/assets/img/till-blume-cropped.png'); background-repeat: no-repeat; background-size: cover; background-position: center center; max-height:110px; max-width: 100px; margin-top: 8px; width: 100px; height: 110px; float: left; margin: 0 20px;"></section>	-->

                <div style="margin: 0 20px">
                <p>Doctoral researcher in Computer Science at the University of Kiel</p>
                <p>
                <i class="fa fa-envelope"><a href="mailto:tb@openlegaldata.io"> tb@openlegaldata.io</a></i>
                </p>
                <p>
                <i class="fa fa-linkedin"><a href="https://www.linkedin.com/in/till-blume-4868bab8/"> https://www.linkedin.com/in/till-blume</a></i>
                </p>
                </div>
                <br style="clear: both">
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <h4>Jonas</h4>
                <!--<section class="view img-rounded" style="background-image: url('/assets/img/till-blume-cropped.png'); background-repeat: no-repeat; background-size: cover; background-position: center center; max-height:110px; max-width: 100px; margin-top: 8px; width: 100px; height: 110px; float: left; margin: 0 20px;"></section>	-->

                <div style="margin: 0 20px">
                <p>Data scientist from Saarland</p>
                <p>
                <i class="fa fa-envelope"><a href="mailto:jl@openlegaldata.io"> jl@openlegaldata.io</a></i>
                </p>
                    <p>&nbsp;</p>
                </div>
                <br style="clear: both">
            </section>
        </div>
    </div>

</div>

<div class="container">
    <div class="section">		
		<!--   Icon Section   -->
        <div class="row row-eq-height">
            <div class="col s12 m3">
				<a href="/about">
                <section class="icon-block">
                    <h2 class="text-center"><i class="fa fa-info"></i></h2>
                    <h5 class="text-center">About Open Legal Data</h5>
                    <p class="text-justify"></p>
                </section>
				</a>
            </div>

           <div class="col s12 m3">
				<a href="/transparency">
                <section class="icon-block">
                    <h2 class="text-center"><i class="fa fa-eye"></i></h2>
                    <h5 class="text-center">Increase Transparency</h5>
                    <p class="text-justify"></p>
                </section>
				</a>
            </div>

            <div class="col s12 m3">
				<a href="/open-data">
                <section class="icon-block">
                    <h2 class="text-center"><i class="fa fa-lock"></i></h2>
                    <h5 class="text-center">Open Data</h5>
                    <p class="text-justify"></p>
                </section>
				</a>
            </div>

            <div class="col s12 m3">
				<a href="/research">
                <section class="icon-block">
                    <h2 class="text-center"><i class="fa fa-flask"></i></h2>
                    <h5 class="text-center">Legal Research</h5>
                    <p class="text-justify"></p>
                </section>
				</a>
            </div>
        </div>
	</div>
</div>

<div class="container">	
    <section class="view img-rounded" style="background-image: url('/assets/img/background.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; min-height:100px;">
        <p> 
		<div class="row align-items-center justify-content-md-center justify-content-xs-center justify-content-sm-center">
			<div class="col align-self-center input-group" style="max-width: 420px; margin-top:25px;">
				<select class="form-control" id="sel1">
					<option>Germany / Deutschland</option>
				</select>
				<div class="input-group-append">
					<a href="//de.openlegaldata.io/" class="btn btn-md btn-primary" type="button" id="button-addon2">Enter Platform</a>
				</div>
			</div>   
		</div>		
        </p>
    </section>
</div>


